body {
    font-family: "Droid Sans", sans-serif;
    background: #f9f7f3;
    color: #0fa3b1;
}

.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #eddea4;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #eddea4;
    color: #222222;
    text-decoration: none;
}

.pagination a:hover {
    background: #b5e2fa;
    text-decoration: underline;
    color: #222222;
}

.pagination .page-disabled {
    background: #eddea4;
    color: #f9f7f3;
}

.pagination .current-page {
    display: inline-block;
}


.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.invisible {
    display: none;
}

div.detail-info {
    margin: 10px;
    padding: 0;
}

p.detail-info {
    display: inline;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 10px;
}

p.detail-info:hover {
    background-color: #f3bfa2;
}


p > a {
    text-decoration: none;
}

p.content-info {
    color: #222222;
}

a.like-link {
    text-decoration: none;
}

a.like-link:hover {
    padding: 5px;
}