body {
    font-family: "Droid Sans", sans-serif;
    background: #f9f7f3;
    color: #0fa3b1;
}

.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #eddea4;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #eddea4;
    color: #222222;
    text-decoration: none;
}

.pagination a:hover {
    background: #b5e2fa;
    text-decoration: underline;
    color: #222222;
}

.pagination .page-disabled {
    background: #eddea4;
    color: #f9f7f3;
}

.pagination .current-page {
    display: inline-block;
}


.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

/*.icon-social {*/
/*	margin: 20px 15px;*/
/*}*/

.icon-social:hover {
	color: #ff4c68
}

.invisible {
    display: none;
}